@page
@model RB_PetHotel.Views.PetRoom.DetailsModel

@{
    ViewData["Title"] = "DetailsPetRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PetRoomModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetRoomModel.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetRoomModel.CheckInDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetRoomModel.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetRoomModel.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetRoomModel.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetRoomModel.Room.RoomId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PetRoomModel?.PetId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
