@page
@model RB_PetHotel.Views.Service.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New Service</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceModel[0].ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceModel[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceModel[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiceModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
