@page
@model RB_PetHotel.Views.Room.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomModel[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomModel[0].RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomModel[0].Occupancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomModel[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
